/* ==========================================================================
	Main	
========================================================================== */

body {
	font-family: sans-serif;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

/* ==========================================================================
	Blog post styles:  main page and permalinks
========================================================================== */

.blog {
	margin-bottom: 50px;
}

.blog + .blog {
    margin-top: 50px;
}

.blog-head {
    position: relative;
    border-bottom: 3px solid #666;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
}

.blog-created {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.blog-content {
    margin-top: 5px;
    margin-bottom: 100px;
}

/* ==========================================================================
	New Post 
========================================================================== */

label {
	display: block;
	font-style: 20px;
}

input[type=text] {
	width: 400px;
	height: 20px;
	font-size: 17px;
	font-family: monospace;
	margin-bottom: 10px;
}

textarea {
	width: 400px;
	height: 200px;
	font-size: 17px;
	font-family: monospace;
	margin-bottom: 10px;
}

.error {
	color: red;
}

/* ==========================================================================
  Footer section
========================================================================== */

// flex container 
.footer__wrapper {
	margin: 50px auto 0 auto;
	width: 65%;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__text {
	text-align: center;
	font-size: 13px;
}

.social__logos {
	list-style: none;
 	display: flex;
 	justify-content: space-between;

}

.social__logos .social {
 	align-self: center;
 	flex:1;
}