/* ==========================================================================
	Main	
========================================================================== */

body {
	font-family: sans-serif;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

/* ==========================================================================
  Header
========================================================================== */

.header {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  display: flex;
  height: 72px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50px;
}

.header__title {
  display: flex;
  flex: 1;
  font-weight: 300;
  font-size: 2em;
  margin: 0.75em 0.25em;
  color: #212121;
}

.header__menu {
  display: flex;
  align-self: center;
}

/* ==========================================================================
  login / logout
========================================================================== */

.login-area {
  display: flex;
  flex: 1;
  font-size: 13px;
  color: gray;
  margin: 0.75em 0.25em;
  top: 10px;
  right: 10px;
  align-self: center;
  padding: 0px 15px 15px 300px;
}

.login-link {
  display: flex;
  color: gray;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
}

.login-link:visited {
  color: gray;
}

.login-link:hover {
  text-decoration: underline;
}

/* ==========================================================================
  Navigation
========================================================================== */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  text-align: center;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

/* ==========================================================================
	Blog post styles:  main page and permalinks
========================================================================== */

.blog {
	margin-top: 50px;
	margin-bottom: 50px;
}

/*.blog + .blog {
    margin-top: 50px;
}*/

.blog-head {
    position: relative;
    border-bottom: 3px solid #666;
}

.blog-title {
    font-size: 24px;
    font-weight: bold;
}

.blog-created {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.blog-authored {
  font-weight: bold;
}
.blog-content {
    margin-top: 5px;
    margin-bottom: 100px;
}

.blog__buttons {
  display: flex;
}

.comments__wrapper {
  padding-top: 50px;
}

.comments__head {
  position: relative;
  border-bottom: 1px solid #666;
}

.comments__title {
  font-size: 24px;
  font-weight: bold;
}

.comment__commentator {
  font-weight: bold;
}

.comment__created {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #999;
}

.comment__content {
  margin-top: 5px;
  margin-bottom: 100px;
}

.comment__text {
  border-bottom: 0.5px solid #666;
  padding-bottom: 20px;
  margin-bottom: 100px;
}

.link__button {
  appearance: button;
  -moz-appearance: button;
  -webkit-appearance: button;
  text-decoration: none; font: menu; color: ButtonText;
  display: inline-block; padding: 2px 8px;
  margin-right: 10px;
  margin-top: 10px;
}

/* ==========================================================================
	New Post 
========================================================================== */

label {
	display: block;
	font-style: 20px;
}

input[type=text] {
	width: 400px;
	height: 20px;
	font-size: 17px;
	font-family: monospace;
	margin-bottom: 10px;
}

textarea {
	width: 400px;
	height: 200px;
	font-size: 17px;
	font-family: monospace;
	margin-bottom: 10px;
}

.error {
	color: red;
}

/* ==========================================================================
  Footer section
========================================================================== */

// flex container 
.footer__wrapper {
	margin: 50px auto 0 auto;
	width: 65%;
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer__text {
	text-align: center;
	font-size: 13px;
}

.social__logos {
	list-style: none;
 	display: flex;
 	justify-content: space-between;

}

.social__logos .social {
 	align-self: center;
 	flex:1;
}