<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Cubiio Blog</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/static/style/style.css">
		<script src="https://use.fontawesome.com/3e19548892.js"></script>
	</head>

<body>

{# START Header & Nav  #}

	<header class="header">
	  <div class="header__inner">
	  	{# <a href="/" class="header__anchor"> #}
	    	<img class="header__logo" src="../static/images/logo.svg" alt="Avatar of Sam Atkins">
	    	<h1 class="header__title">Cubiio Blog</h1>
	  	{# </a> #}
	    <a id="menu" class="header__menu">
	      {# <i class="fa fa-bars"></i> #}
	    </a>
		<div class="login-area">
	  		{% if username %}
	    	{{username}} (<a class="login-link" href="/logout">logout</a>)
	  		{% else %}
	    	<a class="login-link" href="/login">Login</a> | <a class="login-link" href="/signup">Sign-up</a>
	  		{% endif %}
		</div>
	  </div>

	</header>

	<nav id="drawer" class="nav">
	  <ul class="nav__list">
	    <li class="nav__item"><a href="/">Home</a></li>
	    <li class="nav__item"><a href="/newpost">Write</a></li>
	    {# <li class="nav__item"><a href="#">placeholder</a></li> #}
	  </ul>
	</nav>

{# START Content #}

	{% block content %}		
	{% endblock content %}

{# START Footer  #}

<section class="footer">
	<footer class="footer__wrapper">
		<div class="footer__text">Built with ♥ by <a href="https://github.com/cubiio">Cubiio</a>. <br>
		Developed as part of the Full-Stack Nanodegree by <a href="https://www.udacity.com/" target="_blank">Udacity</a>. <br>
		View source code on <a href="https://github.com/cubiio/fsnd-blog">Github</a>
		</div>
		<ul class="social__logos">
		  <li class="social"><a href="https://github.com/cubiio" target="_blank"><i class="fa fa-github fa-lg"></i></a>
		  <li class="social"><a href="https://www.linkedin.com/in/atkinssam" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
		  <li class="social"><a href="https://twitter.com/cubiio" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
		  <li class="social udacity-logo"><a href="https://profiles.udacity.com/u/samatkins" target="_blank">
		      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="24" height="24"><style>.st0{fill:#02b3e4}</style><g id="_x38_0-mark-white"><path id="mark_28_" class="st0" d="M13.3 0L0 7.7v17.6C0 33.4 6.5 40 14.6 40c2.7 0 5.2-.7 7.4-1.9l10.8-6.2C37.1 29.6 40 25.2 40 20V1.6L37.4.1 26 6.2v19.2c0 .8-.1 1.6-.2 2.4-.2.8-.4 1.5-.7 2.2l-.3.6c-.4 0-2.9-.9-4.2-1.8-.6-.4-1.1-.8-1.6-1.3s-.9-1-1.3-1.6c-.4-.6-.7-1.2-1-1.8-.3-.6-.5-1.3-.6-2-.1-.7-.1-1.4-.1-2.1V1.6L13.3 0zm6.5 36.2c-.7.3-1.7.7-2.5.9-.8.2-1.5.2-2.3.2-.8 0-1.6-.1-2.4-.3-.8-.2-1.5-.4-2.2-.7-.7-.3-1.4-.7-2-1.1C6.6 34.1 5.7 33.1 5 32c-.4-.6-.8-1.3-1.1-2-.3-.7-.5-1.5-.7-2.3-.2-.8-.2-1.6-.2-2.4V9.2l10-6.1V20c0 6.4 4.7 11.8 10.7 13.1-.2.3-.4.6-.7.8-1.1 1.1-2 1.8-3.2 2.3zm17-14c-.1.7-.4 1.4-.6 2-.3.6-.6 1.2-1 1.8-.4.6-1.6 2.1-3.2 3-1.6.9-3.1 1.2-4 1.4.6-1.6 1-3.2 1-5V7.7l8-4.6V20c0 .8 0 1.5-.2 2.2z"/></g></svg>
		  <li class="social"><a href="http://freecodecamp.com/cubiio" target="_blank"><i class="fa fa-free-code-camp fa-lg"></i></a>
		  </a>
		  <li class="social"><a href="https://cubiio.github.io/" target="_blank"><i class="fa fa-pencil-square fa-lg"></i></a>
		  <li class="social"><a href="http://samatkins.me/" target="_blank"><i class="fa fa-briefcase fa-lg"></i></a>
		</ul>
	</footer>
</section>

</body>
</html>