<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Cubiio Blog</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/static/style/style.css">
		<script src="https://use.fontawesome.com/3e19548892.js"></script>
	</head>

<body>

{# START Header & Nav  #}

	<header class="header">
	  <div class="header__inner">
	  	{# <a href="/" class="header__anchor"> #}
	    	<img class="header__logo" src="/static/images/logo.svg" alt="Avatar of Sam Atkins">
	    	<h1 class="header__title">Cubiio Blog</h1>
	  	{# </a> #}
	    <a id="menu" class="header__menu">
	      {# <i class="fa fa-bars"></i> #}
	    </a>
		<div class="login-area">
	  		{% if username %}
	    	{{username}} (<a class="login-link" href="/logout">logout</a>)
	  		{% else %}
	    	<a class="login-link" href="/login">Login</a> | <a class="login-link" href="/signup">Sign-up</a>
	  		{% endif %}
		</div>
	  </div>

	</header>

	<nav id="drawer" class="nav">
	  <ul class="nav__list">
	    <li class="nav__item"><a href="/">Home</a></li>
	    <li class="nav__item"><a href="/newpost">Write</a></li>
	    {# <li class="nav__item"><a href="#">placeholder</a></li> #}
	  </ul>
	</nav>

{# START Content #}

	{% block content %}		
	{% endblock content %}

{# START Footer  #}

<section class="footer">
	<footer class="footer__wrapper">
		<div class="footer__text">Built with ♥ by <a href="https://github.com/cubiio">Cubiio</a>. <br>
		Developed as part of the Full-Stack Nanodegree by <a href="https://www.udacity.com/" target="_blank">Udacity</a>. <br>
		View source code on <a href="https://github.com/cubiio/fsnd-blog">Github</a>
		</div>
		<ul class="social__logos">
		  <li class="social"><a href="https://github.com/cubiio" target="_blank"><i class="fa fa-github fa-lg"></i></a>
		  <li class="social"><a href="https://www.linkedin.com/in/atkinssam" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
		  <li class="social"><a href="https://twitter.com/cubiio" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
		  <li class="social"><a href="https://cubiio.github.io/" target="_blank"><i class="fa fa-pencil-square fa-lg"></i></a>
		  <li class="social"><a href="http://samatkins.me/" target="_blank"><i class="fa fa-briefcase fa-lg"></i></a>
		</ul>
	</footer>
</section>

</body>
</html>