{% extends "base.html" %} 

{% block content %}

{% if username == post.author %}

<form method="post">
    <label>
        <div>Blog Title</div>
        <input type="text" name="title" value="{{post.title}}">
    </label>
    <label>
        <div>Blog Post</div>
        <textarea name="blogPost" cols="30" rows="10">{{post.blogPost}}</textarea>
    </label>
    <div class="error">
        {{error}}
    </div>
    <button type="submit">Post</button>
</form> 

{% else %}

<div class="no__access">
    <p>Only authors may edit their own posts. Click here to go <a href="/">home</a>.</p>
</div>

{% endif %}

{% endblock content %}
