{% extends "base.html" %} 

{% block content %}

{% if username == comment.commentator %}

<form method="post">
    <label>
        <div>Edit your comment</div>
        <textarea name="comment" cols="30" rows="10">{{comment.comment}}</textarea>
    </label>
    <div class="error">
        {{comment_error}}
    </div>
    <button class="link__button" type="submit">Post</button>

    <a class="link__button" href="/">Cancel</a>

</form> 

{% else %}

<div class="no__access">
    <p>Only commentators may edit their own posts. Click here to go <a href="/">home</a>.</p>
</div>

{% endif %}

{% endblock content %}
