{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<form method="post">


    <label class="label">
      Username
    </label>
    <div>
      <input type="text" name="username" value="{{username}}">
    </div>
    <br>


    <label class="label">
      Password
    </label>
    <div>
      <input type="password" name="password" value="">
    </div>
    <br><br>


    <div class="error">
      {{error}}
    </div>
    <br>
    <input type="submit">
    
</form>
{% endblock content %}
