{% extends "base.html" %}
{% block content %}

	{% if username %}
		<h2>Welcome, {{username}}!</h2>
		{% else %}
	{% endif %}
	
	{% for post in posts %}
		<div class="blog">
			<div class="blog-head">
				{# <a href="/{{post.key.integer_id()}}">{{post.title}}</a> #}
				<div class="blog-title"><a href="/{{post.key.integer_id()}}">Title: {{post.title}}</a></div>
				{# <div class="blog-title">Title: {{post.title}}</div> #}
				<div class="blog-created">Created: {{post.created.strftime("%d %b %Y")}}</div>
			</div>
			<div class="blog-post">{{post.blogPost}}</div>
			<div class="mainpage__postauthor">Written by: {{post.author}}</div>
		</div>
	{% endfor %}

{% endblock content %}
