<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cubiio Blog</title>
</head>
<body>
	<h1>Cubiio Blog</h1>

	Add new post <a href="/newpost">click here</a>

	<hr>

	{% for post in posts %}
		<div class="blog">
			<div class="blog-title">Title: {{post.title}}</div>
			<div class="blog-created">Created: {{post.created}}</div>
			<pre class="blog-post">{{post.blogPost}}</pre>
		</div>
	{% endfor %}

</body>
</html>
