{% extends "base.html" %}

{% block content %}

	<h2>What do you want to write {{username}}?</h2>
	
	<form method="post">
	    <label>
	        <div>Blog Title</div>
	        <input type="text" name='title' value="{{title}}">
	    </label>
	    <label>
	        <div>Blog Post</div>
	        <textarea name="blogPost" cols="30" rows="10">{{blogPost}}</textarea>
	    </label>
	    <div class="error">
	        {{error}}
	    </div>
	    {# <input type="submit"> #}
	    <button type="submit">Post</button>
	    <a class="link__button" href="/">Cancel</a>
	</form>	

{% endblock content %}
