{% extends "base.html" %} 

{% block content %}

<div class="post">
    <div class="blog-head">
        <div class="blog-title">Title: {{post.title}}
        </div>
        <div class="blog-created">Created: {{post.created.strftime("%d %b %Y")}}
        </div>
        <div class="blog-authored">Author: {{post.author}}
        </div>
    </div>
    <div class="blog-content">
        {{post.blogPost}}
    </div>


    {# START: Button eg like,comment section #}
    {# Author section #}
    {% if username == post.author %}
    <div class="blog__buttons">
        
        <form method="post" name="like">
            <button class="link__button"> {{likes | length }} Likes <i class="fa fa-heart" aria-hidden="true"></i></button>
        </form>

        <a class="link__button" href="/comment/{{post.key.integer_id()}}">Comment <i class="fa fa-comment" aria-hidden="true"></i></a>
        
        <a class="link__button" href="/edit/post/{{post.key.integer_id()}}">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
        
        <a class="link__button" href="/delete/post/{{post.key.integer_id()}}">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a>
        
    </div>
    <div class="error">
        <div>{{error_likes}}</div>
    </div>
        
    {# Logged in user and visitor section #}
    {% else %}
    <div class="blog__buttons">

        <form method="post" name="like">
            <button class="link__button"> {{likes | length }} Likes <i class="fa fa-heart" aria-hidden="true"></i></button>
        </form>

        <a class="link__button" href="/comment/{{post.key.integer_id()}}">Comment <i class="fa fa-comment" aria-hidden="true"></i></a>
    </div>
    <div class="error">
        <div>{{error_likes}}</div>
    </div>

    {% endif %}

    {# START comments section #}
    <div class="comments__wrapper">
        <div class="comments__title">
            <h3>Comments</h3>
        </div>
        {% for comment in comments %}

        <div class="comments__head">
            <div class="comment__commentator">Comment by: {{comment.commentator}}</div>
            <div class="comment__created">Commented on: {{comment.comment_date.strftime("%d %b %Y")}}
            </div>
        </div>
            
            {% if username ==  comment.commentator%}

            <a class="link__button" href="/edit/comment/{{comment.key.integer_id()}}">Edit Comment <i class="fa fa-pencil" aria-hidden="true"></i></a>
            
            <a class="link__button" href="/delete/comment/{{comment.key.integer_id()}}">Delete Comment <i class="fa fa-trash-o" aria-hidden="true"></i></a>

           {% endif %}
        <div class="comment_content">
            <p class="comment__text">{{comment.comment}}</p>
        </div>

            
        {% endfor %}
        
    </div>

</div>

{% endblock content %}
