{% extends "base.html" %} 

{% block content %}

<div class="post">
    <div class="blog-head">
        <div class="blog-title">Title: {{post.title}}
        </div>
        <div class="blog-created">Created: {{post.created.strftime("%d %b %Y")}}
        </div>
        <div class="blog-authored">Author: {{post.author}}
        </div>
    </div>
    <div class="blog-content">
        {{post.blogPost}}
    </div>

    <div class="comments__wrapper">
        <div class="comments__header">
            <h3>Comments</h3>
        </div>
    
    {% for comment in comments %}
        <div class="comment__commentator">
            <h4>Comment by: {{comment.commentator}}</h4>
            <div class="comment__created">Commented on: {{comment.comment_date.strftime("%d %b %Y")}}
            </div>
            <p class="comment__text">{{comment.comment}}</p>
        </div>
    </div>
        
    {% endfor %}

    <div class="blog-buttons">
        
        <a href="/comment/{{post.key.integer_id()}}">Comment <i class="fa fa-comment" aria-hidden="true"></i></a>
        
        <form method="post" name="like">
            <button>Like <i class="fa fa-heart" aria-hidden="true"></i></button>
        </form>

        {% if username == post.author %}
            
            <a href="/edit/{{post.key.integer_id()}}">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
        
            <a href="/delete/{{post.key.integer_id()}}">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a>
        
{#         {% else %} #}

        {% endif %}
    
    </div>

</div>

{% endblock content %}
