{% extends "base.html" %} 

{% block content %}

<div class="post">
    <div class="blog-head">
        <div class="blog-title">Title: {{post.title}}
        </div>
        <div class="blog-created">Created: {{post.created.strftime("%d %b %Y")}}
        </div>
        <div class="blog-authored">Author: {{post.author}}
        </div>
    </div>
    <div class="blog-content">
        {{post.blogPost}}
    </div>

    <div class="comments__wrapper">
        <div class="comments__header">
            <h3>Comments</h3>
        </div>
    
    {% for comment in comments %}
        <div class="comment__commentator">
            <h4>Comment by: {{comment.commentator}}</h4>
            <div class="comment__created">Commented on: {{comment.comment_date.strftime("%d %b %Y")}}
            </div>
            <p class="comment__text">{{comment.comment}}</p>
        </div>
    </div>
        
    {% endfor %}


    {# Author section #}
    {% if username == post.author %}
    <div class="blog__buttons">
        
        <form method="post" name="like">
            <button> {{likes | length }} Like <i class="fa fa-heart" aria-hidden="true"></i></button>
            <div class="error">{{error_likes}}</div>
        </form>

        <a class="link__button" href="/comment/{{post.key.integer_id()}}">Comment <i class="fa fa-comment" aria-hidden="true"></i></a>
        
        <a class="link__button" href="/edit/{{post.key.integer_id()}}">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
        
        <a class="link__button" href="/delete/{{post.key.integer_id()}}">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></a>
        
    </div>
        
    {# Logged in user section #}
    {% elif username %}
    <div class="blog__buttons">

        <form method="post" name="like">
            <button> {{likes | length }} Like <i class="fa fa-heart" aria-hidden="true"></i></button>
        </form>

        <a href="/comment/{{post.key.integer_id()}}">Comment <i class="fa fa-comment" aria-hidden="true"></i></a>
    </div>

    {# visitor section #}
    {% else %}
    {# todo: add like count, with error message: ask to signin/login to like a post #}
    <div class="blog__buttons">
        <button> {{likes | length }} Like <i class="fa fa-heart" aria-hidden="true"></i></button>
        <p>Please <a href="/signup">sign-up</a> or <a href="/login">login </a>to like and comment on posts.</p>

    </div>

    {% endif %}


</div>

{% endblock content %}
