{% extends "base.html" %}

{% block content %}
  
<h2>Signup</h2>
<form method="post">

      <label class="label">
        Username
      </label>
      <div>
        <input type="text" name="username" value="{{username}}">
      </div>
      <div class="error">
        {{error_username}}
      </div>
      <br>

      <label class="label">
        Password
      </label>
      <div>
        <input type="password" name="password" value="">
      </div>
      <div class="error">
        {{error_password}}
      </div>

      <label class="label">
        Verify Password
      </label>
      <div>
        <input type="password" name="verify" value="">
      </div>
      <div class="error">
        {{error_verify}}
      </div>
      <br>

      <label class="label">
        Email (optional)
      </label>
      <div>
        <input type="text" name="email" value="{{email}}">
      </div>
      <div class="error">
        {{error_email}}
      </div>
      <br><br>

      <input type="submit">
      <br>
</form>
{% endblock content %}